<!DOCTYPE html>

<html lang="en" ng-app="transformer">
<head>
    <meta charset="utf-8">
    <title>Transformer</title>
    <meta name="hsum-api-key" content="<%= config[global.env].hsumApiKey %>"/>
    <meta name="viewport" content="width=1200">
</head>
<body ng-controller="AppController">

<div style="background: url('/images/loader.gif') 50% 50% no-repeat; position:absolute; width: 100%; height: 100%;" ng-if="!pageLoaded"></div>
<div style="visibility: hidden;" id="page" class="page" ng-class="pageStyle" ng-show="pageLoaded">

    <div class="upper segment">
        <div class="header area vcentered">
            <div class="padded">
                <div class="clearfix">
                    <a href="/#/" class="vcentered logo block holder pull-left">
                        <div>Home</div>
                    </a>
                    <div class="vcentered holder pull-right">
                        <div class="auth block">
                            <div ng-show="user != null" class="dropdownMenu">
                                <div class="vcentered text link" data-toggle="dropdown">
                                    <div>{{user.firstname}} {{user.lastname}}</div><div ng-show="user.avatar != null"><img ng-src="{{user.avatar}}" class="avatar"></div>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="/#/history">History</a></li>
                                    <li><a href ng-click="logout()">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="paged holder">
        <div class="page-view" ng-view></div>
    </div>

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link href="/stylesheets/modern-touch.css" media="screen" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/client.css">

<!-- ------required for Modern Touch------ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<!--the doc specify to use 1.10.0 version of jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/javascripts/libs/modern-touch.js"></script>
<script type="text/javascript"><%- config[global.env].hsumPortalAnalyticsCode %></script>
<script src="<%= config[global.env].hsumUrl %>/javascripts/client/hubspot-hsum-1.0.0.js"></script>
<script type="text/javascript">
    window.config = {};
    window.config.hsumUrl = <%- global.env == 'development' ? '"' + config[global.env].hsumUrl + '"': 'null' %>;
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.2.1/ng-infinite-scroll.min.js"></script>
<script src="/javascripts/client/client.js"></script>

</body>
</html>