/* -------------------------------------------------*/
/* ----------------------base styles----------------*/
/* -------------------------------------------------*/

html{
    height: 100%;
}
body{
    background: none;
    min-width:1200px !important;
    height: 100%;
}
.page{
    height: 100%;
}
.area{
    width:100%;
}
.padded{
    padding: 0 42px;
}

.center.holder{
    width: 100%;
    height: 100%;
    text-align: center;
}
.center.pane{
    display: inline-block;
    vertical-align: top;
}

.vcentered{
    display: table;
}
.vcentered > div{
    display: table-cell;
    vertical-align: middle;
}

.loading.status{
    background: url("../images/loader.gif");
    width:16px;
    height:16px;
}

.layer{
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    top:0;
}

.horizontal.divider{
    height:1px;
    /*2 items for override default multi-touch*/
    margin:0;
    border-top:none;
}

.select_styled{
    height:42px;
    outline: none;
}

.disabled{
    opacity : 0.5;
}

.link{
    cursor: pointer;
    outline: none;
}
.link.underlined{
    text-decoration: underline;
}

.semibold{
    font-weight: 400;
}
.italic{
    font-style: italic;
}


.dropdownMenu{
    /*override default modern touch styles*/
    margin-bottom: 0;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn{
    outline: none !important;
}

.paged.holder{
    padding-top:78px;
    height:100%;
    min-height: 639px;
}
.paged.holder .page-view{
    height:100%;
}

.help-text.holder{
    width: 244px;
}

.textarea{
    resize: none;
}

/*-----------upper segment-------------*/
.upper.segment{
    position:absolute;
    width: 100%;
}

/* -------------header area------------- */
.header.area{
    background: #1d1f1e;
}
.header.area .holder{
    height: 78px;
}

/* -------------auth block------------- */
.header.area .logo.block{
    color: #ffffff;
}
.header.area .auth.block .text{
    line-height:35px;
    color: #ffffff;
}
.header.area .auth.block .avatar{
    max-height: 35px;
    margin-left: 16px;
    /*override default modern touch styles*/
    vertical-align: middle;
}
.header.area  .auth.block .dropdown-menu{
    width: 70px;
    text-align: right;
    right: 0;
    left: auto;
    margin-top:22px;
}

/* -------------edit pane------------- */
.edit.pane{
    display: inline-block;
    text-align: left;
}
.edit.pane .heading{
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}
.edit.pane .line{
    margin-top:15px;
}
.edit.pane .line.indent{
    margin-top:50px;
}
.edit.pane .inGroup.line{
    margin-top:5px;
}
.edit.pane .line .cell.title{
    width:130px;
    padding-right: 20px;
}
.edit.pane .line .cell.title .required{
    color: #FA787E;
}
.edit.pane .line.error{
    color: #FA787E;
    margin-top:5px;
}
.edit.pane .line .cell.title.top{
    vertical-align: top;
}
.edit.pane .line .cell.control{
    width:380px;
}
.edit.pane .line .success.message{
    color:#60cd9b;
    font-weight: bold;
    line-height: 45px;
}
.edit.pane .line .submit-input .vcentered, .edit.pane .line .submit-input .vcentered > div:first-child{
    width: 100%;
}
.edit.pane .line .submit-input .btn{
    margin-left: 10px;
}
.edit.pane .line .submit-input .btn span{
    height: 42px;
    line-height: 42px;
}
.edit.pane .line .text-input, .edit.pane .line .text-input .inputting.cell{
    width: 100%;
}
.edit.pane .line .text-input .text{
    margin-right: 10px;
}
.edit.pane .line .information{
    background: #D9D9D9;
    padding: 7px 10px;
    font-size: 1.2em;
}
.edit.pane .question.icon{
    font-size: 1.5em;
    cursor: pointer;
    margin-left:10px;
}
.edit.pane .line.submit .btn{
    margin-left: 20px;
}

.edit.pane .line .loading.holder{
    position:relative;
    display:inline-block;
}
.edit.pane .line .loading.holder .layer{
    right: -30px;
}
.edit.pane .line .loading.holder .layer .vcentered{
    width: 100%;
    height: 100%;
    text-align: right;
}
.edit.pane .line .loading.holder .loading.status{
    display: inline-block;
}

.edit.pane.ng-submitted .input.ng-invalid, .edit.pane .cell.invalid .input,
.edit.pane.ng-submitted .select_styled.ng-invalid,
.edit.pane.ng-submitted .textarea.ng-invalid{
    border:1px solid #FA787E;
    webkit-box-shadow: none;
    box-shadow: none;
}

/* ----------------------------------------------------------*/
/* ----------------------transformations page----------------*/
/* ----------------------------------------------------------*/
.transformations.page .transformations.area{
    height:100%;
}

/*listing*/
.transformations.page .transformations.listing{
    width: 30%;
    background: #f5fcfe;
    height:100%;
    border-right: 1px solid #e7f1f5;
}
.transformations.page .transformations.listing .add.btn{
    margin: 20px 0;
}
.transformations.page .transformations.listing .transformation{
    cursor: pointer;
    font-size: 1.15em;
    line-height: 1.3em;
    padding-top: 8px;
    padding-bottom: 8px;
}
.transformations.page .transformations.listing .divider{
    background: #b8c0c3;
}
.transformations.page .transformations.listing .transformation:HOVER{
    background: #cfeffc;
}

/*main space*/
.transformations.page .transformations.area .main.space{
    width: 70%;
    height:100%;
}


/* ----------------------------------------------------------*/
/* ----------------------history page----------------*/
/* ----------------------------------------------------------*/
.history.page .content.holder{
    padding-top: 30px;
    padding-bottom: 30px;
}
.history.page .types .link{
    margin-right: 10px;
}
.history.page .table{
    margin-top: 20px;
    margin-bottom: 0;
    table-layout: fixed;
    word-wrap: break-word;
}
.history.page .loading.status{
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
}
.history.page .scripts.table .item0{
    width: 4%;
}
.history.page .scripts.table .item1{
    width: 15%;
}
.history.page .scripts.table .item2{
    width: 13%;
}
.history.page .scripts.table .item3{
    width: 8%;
}
.history.page .scripts.table .item4{
    width: 60%;
}
.history.page .transactions.table .item0{
    width: 4%;
}
.history.page .transactions.table .item1{
    width: 10%;
}
.history.page .transactions.table .item2{
    width: 20%;
}
.history.page .transactions.table .item3{
    width: 7%;
}
.history.page .transactions.table .item4{
    width: 20%;
}
.history.page .transactions.table .item5{
    width: 13%;
}
.history.page .transactions.table .item6{
    width: 6%;
}
.history.page .transactions.table .item7{
    width: 20%;
}


